*{
    margin: 0;
}



.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shaerd-style */
.linear-Gradient{
    background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.linear-text{
    -webkit-background-clip:text;
    color: transparent;
}

.btn{
    padding: 12.5px 16px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
    border-radius: 10000px;
    transition: all 0.3s ease;
}
.btn:hover{
    transform: translateY(-5px) scale(0.95);
    box-shadow: 0 5px 10px 0 #FB09B4;
    cursor: pointer;
}




/* main-style */
.navbar{
    padding: 24px 0;
    background-color: #1A0B2E;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar h2{
    color: #FFFFFF;
    font-size: 2.4rem;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;

}

.navbar a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;

}
.hamburger{
    display: none;
}

/* .banner-section */

.banner-section{
    text-align: center;
    padding: 101px 0;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.banner-icon img{
    padding: 69px 105px 81px 105px;
    background: url(./assets/hero-circle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-content h2{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 8px;

}
.banner-content p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 24px;
    opacity: 80%;
}
.btn1{
    padding: 12.5px 16px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: none;
    transition: all 0.3s ease;
}

.btn1:hover{
    transform: translateY(-5px) scale(0.95);
    box-shadow: 0 5px 10px 0 #00FF88;
    cursor: pointer;
}
hr{
    max-width: 1600px;
    margin: 0 auto;
    border: 1px solid #412567;
    
}
.new{
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    position: absolute;
    z-index: 999;
    border-radius: 1000px;
    transform: translateX(75px) translateY(13px);
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    animation: zoom 1.5s ease-out infinite;
}
@keyframes zoom {
    0%{transform: translateX(75px) translateY(13px);}
    50%{transform: translateX(75px) translateY(33px);}
    100%{transform: translateX(75px) translateY(13px);}
    
}

/* .about-section */

.about{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding-top: 50px;

  
}
.about-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center

}
.about-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.about-container p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    opacity: 80%;

}
.hr2{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.activity{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-bottom: 120px;
    
}
.activity-card{
    max-width: 240px;
    text-align: center;
}
.activity-card h4{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;

}
.activity-card p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
    opacity: 80%;

}

/* why-choose-section */

#why-choose{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #230E3D;
    padding-top: 120px;
    padding-bottom: 120px;
}
#why-choose h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.choose-container>* {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.audio{
    grid-area: audio;
}

.mobile{
    grid-area: mobile;
}
.global{
    grid-area: global;
}
.interviews{
    grid-area: interview;
}
.resources{
    grid-area: resource;
}

.choose-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 30px;
    grid-template-areas: 
    "audio mobile mobile"
    "audio global global"
    "interview interview resource";
}

.choose-container>*> h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}
.choose-container>*> p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    opacity: 80%;
}

.audio{
    width: 350px;
    padding-top: 107px;
}
/* podcast-section */
.episode{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding-top: 120px;
    padding-bottom: 120px;
}
.episode-container{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;


}
.episode h2{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.episode-card{
    width: 90%;
    max-width: 380px;
    background-color: #250D44;
    border-radius: 20px;
    padding-bottom: 24px;
    transition:0.3s ease-out;
  
}
.episode-card:hover{
    transform: translateY(10px);
}

.episode-card iframe{
    width: 380px;
    height: 216px;
    border-radius: 20px 20px 0 0;
    
}

.episode-card h4{
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 12px;


}
.episode-card p{
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
    opacity: 80%;


}

.time{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    padding: 24px;
}
/* .challenge-part */
.challenge{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    padding-bottom: 120px;
}
.challenge h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.host{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #250D44;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.host-container h3{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.host-container p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 16px;
    opacity: 80%;

}

.icon{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -40px;
    gap: 10px;
}
.icon a{
    border: 1px solid #533C72;
    border-radius:100%;
    padding: 10px;
    display: flex;
}
/* footer-section */
footer{
    max-width: 1600px;
    margin: 0 auto;
    background: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.footer-container{
    text-align: center;
    padding-top: 110px;
    padding-bottom: 120px;
}

.footer-container h2{
    font-size: 4.5rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-container ul{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: 400;
}
.footer-container li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap: 8px;
    margin-bottom: 32px;
}

.footer-container p{
    font-size: 1rem;
    line-height: 24px;
    color: #FAFAFA;
    opacity: 80%;
}
.link span{
    opacity: 60%;
    white-space: nowrap;
}

/* responsive mobile device */
@media screen and (max-width:576px) {

    .display-none a{
        display: none;
    }


    .btn2{
        display: none;
    }
    .hamburger{
        display: contents;
    }

    .banner-icon img{
        max-width: 80px;
    }
    .banner-section{
        background: url(./assets/banner-res.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        padding: 60px;
    
    }
     .banner-content h2{
        font-size: 2.85rem;
     } 
    .banner-icon img{
        padding: 60px 75px;
    }
    .new{
        transform: translateX(75px) translateY(40px);
    }
    .btns{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    .about-container{
        width: 95%;
    }
    .about-container h2{
        font-size: 2.2rem;
    }
    .hr2{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .activity{
        width: 95%;
        padding-bottom: 40px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        justify-content: center;
    }
    #why-choose{
        padding-top: 40px;
        padding-bottom: 40px;
    }
     #why-choose h2{
        font-size: 2.2rem;
        margin-bottom: 16px;
     }
     .audio{
        padding-top: 40px;
     }
    .choose-container{
        grid-template-areas: 
        "audio"
        "mobile"
        "global"
        "interview"
        "resource"
    }
    .choose-container>* {
        width: 75%;
        margin: 0 auto;
    }
    .choose-container>*> h4{
        font-size: 1.37rem;
    }
    .episode {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .episode h2{
        font-size: 2.2rem;
        margin-bottom: 16px;
    }
    .episode-card h4{
        font-size: 1.25rem;
    }
    .challenge{
        padding-bottom: 40px;
    }
    .challenge h2{
        font-size: 2.2rem;

    }
    .host-container h3{
        font-size: 1.5rem;
    }

    .episode-container{
        flex-direction: column;
        width: 100%;
        
    }
    .episode-card{
        margin: 0 auto;
    }
    
    .episode-card iframe{
         width: 100%;
         height: 216px;
         border-radius: 20px 20px 0 0;
    }
    .host{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .icon{
        justify-content: center;
    }
    .footer-container .link{
        width: 280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        text-align: center;
        gap: 8px;
    }
    .footer-container h2{
        font-size: 3rem;
    }
    .footer-container{
        padding: 40px;
        padding: 40px;
    }

    footer{
        background: url(./assets/Image.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    
}