*{
    margin: 0;
}



.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shaerd-style */
.linear-Gradient{
    background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.linear-text{
    -webkit-background-clip:text;
    color: transparent;
}

.btn{
    padding: 12.5px 16px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    color: #FFFFFF;
    border-radius: 10000px;
}





/* main-style */
.navbar{
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 200px;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h2{
    color: #FFFFFF;
    font-size: 2.4rem;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 32px;

}

.navbar a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;

}
.banner-section{
    text-align: center;
    padding: 101px 0;
    background: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.banner-icon img{
    padding: 69px 105px 81px 105px;
    background: url(./assets/hero-circle.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-content h2{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 8px;

}
.banner-content p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 24px;
    

}
hr{
    width: 1600px;
    margin: 0 auto;
    border: 1px solid #412567;
    
}
.new{
    color: #1A0B2E;
    background-color: #00FF88;
    padding: 8px 16px;
    position: absolute;
    border-radius: 1000px;
    transform: translateX(75px) translateY(13px);
}